.bodyy {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left top, #000000, #1f0612, #320822, #440436, #52004f, #52004f, #52004f, #52004f, #440436, #320822, #1f0612, #000000);
  background-attachment: fixed;
}
.bodyy .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bodyy .navBar .logo {
  color: white;
  font-size: 2rem;
  font-family: fantasy;
  margin-left: 2em;
  margin-top: 1rem;
}
.bodyy .navBar .logo a {
  text-decoration: none;
  color: white;
}
.bodyy .navBar .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-right: 3em;
}
.bodyy .navBar .links div {
  margin-left: 2em;
}
.bodyy .navBar .links div a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bodyy .navBar .links div a:hover {
  color: black;
}
.bodyy .container .cardd {
  width: 50%;
  height: 0;
  margin: auto;
  padding: 10px;
  margin-top: 6em;
  display: none;
}
.bodyy .container .cardd .parag {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 3em;
}
.bodyy .container .cardd .title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 1em;
}
.bodyy .container .stepper-nav {
  margin-right: 15em;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
}
.bodyy .container .stepper-nav .prev-btn {
  color: black;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  margin-right: 0.5em;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bodyy .container .stepper-nav .next-btn {
  color: black;
  font-size: 1.1em;
  border-radius: 10px;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bodyy .container .cards .title1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  font-size: 3em;
  color: white;
}
.bodyy .container .cards .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 1em;
  font-size: 2em;
}
.bodyy .container .cards .cards-ans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.bodyy .container .cards .cards-ans .card {
  width: 18em;
  height: 10em;
  margin: 1em;
  transition: box-shadow 0.4s;
}
.bodyy .container .cards .cards-ans .card:hover {
  box-shadow: 0 0 30px rgb(204, 1, 255);
  transform: scale(1.02);
}
.bodyy .container .cards .cards-ans .card .answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1em;
}
.bodyy .stepper {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 5rem;
}
.bodyy .stepper .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  text-align: center;
}
.bodyy .stepper .step .step-label {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bodyy .stepper .step .step-icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.25em;
  background-color: white;
  font-size: 2em;
  line-height: 1.5em;
  color: rgb(204, 1, 255);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bodyy .step.active .step-icon {
  background-color: black;
}/*# sourceMappingURL=sass.css.map */