// $background:linear-gradient(to left top, #000000, #1f0612, #320822, #440436, #52004f, #52004f, #52004f, #52004f, #440436, #320822, #1f0612, #000000);
// $background: linear-gradient(to left top, #000000, #220a15, #3a0c26, #52073b, #680155, #680155, #680155, #680155, #52073b, #3a0c26, #220a15, #000000);
$background: linear-gradient(to left top, #000000, #2a2029, #403f58, #3b6589, #0090ae, #0090ae, #0090ae, #0090ae, #3b6589, #403f58, #2a2029, #000000);
$font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$attachment:fixed;
$color1: white;
$color2: black;
$color3:rgb(204, 1, 255);
// $color3:rgb(0, 246, 221);
$color4: #0CC9B8;

@mixin display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin size($w,$h){
    width: $w;
    height: $h;
}

@mixin title($mb){
    color: $color1;
    font-family: $font;
    margin-bottom: $mb;
}

@mixin test(){
    justify-content: center;
    font-size: 2em;
    text-align: center;
}

// body style
.bodyy{
    margin: 0;
    padding: 0;
    background-image: $background;   
    background-attachment: $attachment;


// navbar style
.navBar{
    @include display;


    .logo{
        color: $color1;
        font-size: 2rem;
        font-family:fantasy;
        margin:0 1em 0 1em;
        margin-top: .5rem;
        
        a{
            text-decoration: none;
                color: $color1;
        }
    }

    .links{
        @include display;
        color: $color1;
        margin-right: 3em;
        margin-top: 1em;
        div{
            margin-left: 2em;
            a{
                text-decoration: none;
                color: $color1;
                font-family: $font;
                &:hover{
                    color: $color2;
                }
            }
        }
        
    }
    
}
.container{

    // card infprmations style
.cardd{
    
    @include size(90%,0);
    margin: auto;
    padding: 10px;
    margin-top:2em;
    // display: none;
    .parag{
        display: flex;
        justify-content: center;
        color: $color1;
        font-family: $font;
        margin-bottom: 2em;
        font-size: 1.5em;
        // text-align: center
    }

    .title{
       @include title(.5em);
       font-size: 3em;
       text-align: center

    }

    .button-start{
        @include display;
        justify-content: flex-end;
        
        .btn-start{
           color: $color1;
           font-size: 1.5em;
           border: none;
           background: none;
           background-attachment: $attachment;
           font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           &:hover{
            color: $color2;
           }
 
        }

    }
  
 }



    // Quistions Cards

    .cards{
        // display: none;
        .title1{
            @include title(.5em);
            @include display;
            justify-content: center;
            margin-top: .5em;
            font-size: 3em;
            color: $color1;
        }

        .counter{
            @include display;
            justify-content: center;
            font-family: $font;
            font-size: 2em;
            color: $color1;
        }

        .ques-div{
            @include size(auto,8em);
            .question{
                @include display;
                @include title(1em);
                justify-content: center;
                font-size: 1.5em;
                text-align: center;
            }
        }


        .cards-ans{
            @include display;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .answer{
                @include size(17em,8em);
                border-radius: 3em;
                margin: 1em;
                color: $color1;
                transition: box-shadow .4s;
                background-color: $color2;
                font-family: $font;
                &:hover{
                    box-shadow: 0 0 20px $color1;
                    transform:scale(1.02);
                }
            }
        }

    // buttons results
    .stepper-nav{
        @include display;
        justify-content: center;
        margin-top: 2em;
        
        .btn-result{
            @include size(10em,2.5em);
            color: $color2;
            font-size: 1.3em;
            border-radius: 10px;
            border: none;
            font-family: $font;
        }
    }
  }

  .results{
    .res-title{
        @include title(.5em);
        @include display;
        justify-content: center;
        margin-top: 1em;
        font-size: 3em;
        color: $color1;
    }
    .res-parag{
        @include display;
        @include title(1em);
        justify-content: center;
        font-size: 2em;
        text-align: center;
    }
    .button-try{
        @include display;
        justify-content: center;
        margin-top: 2em;
    .btn-try{
        @include size(10em,2.5em);
        color: $color2;
        font-size: 1.3em;
        border-radius: 10px;
        border: none;
        font-family: $font;
        a{
            text-decoration: none;
            color: $color2;
        }
    }
   }
   .answers{
    width: 60%;
    @include display;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    
    
    
        .questionn{
            color: red;
            font-family: $font;
            border: none;
            background-color: $color1;
            border-radius: 10px;
            padding: .6em;

        }
    
        .justification{
            @extend .questionn;
            color: $color1;
            background-color: $color2;
        }

   }
  }
}

// stepper style

.stepper{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 4rem;

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 1;
        text-align: center;

        .step-label{
           color: $color1;
           font-family: $font;
        }

        .step-icon {
           @include size(1.5em, 1.5em);
            border-radius: 1.25em;
            background-color: $color1;
            font-size: 2em;
            line-height: 1.6em;
            color: $color4;
            text-align: center;
            font-family: $font;
          }
          
      }
}

 .step.active .step-icon {
    background-color: $color2;
  }

}

@media screen and (max-width: 1000px) {
    .answers{
        width: 100% !important;
        
       }
    .stepper{
       padding-top: 2rem !important;
    }

    .counter{
        margin-bottom: 0;
    }

    .stepper-nav{
        margin-top: 0 !important;
    }

}

@media screen and (max-width: 800px) {
       .cards-ans{
        
        .answer{
            width: 90% !important;
            height: 3.5em !important;
            margin-top: 1em !important;
        }
    }
}










